.block_orange{
    width: 94%;
    height: 322px;
    margin: 3%;
    background-color: orange;
    
}
.block_green{
    width: 20%;
    height: 590px;
    background-color: green;
    margin-left: 3%;
    float: left;
}

.block_blue{
    margin-left: 3%;
    width: 71%;
    height: 590px;
    background-color: skyblue;
    float: left;
}

@media (max-width:800px) {
    .block_green{
        width: 94%;
        margin-right: 3%
    }
    
    .block_blue{
        width: 94%;
        margin-right: 3%
    }
}